@use "./query-mixin" as mixin;

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 100;
  src: url('../font/BeVietnam-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 300;
  src: url('../font/BeVietnam-Light.woff') format('woff');
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 400;
  src: url('../font/BeVietnam-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 500;
  src: url('../font/BeVietnam-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 600;
  src: url('../font/BeVietnam-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 700;
  src: url('../font/BeVietnam-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Be Vietnam';
  font-style: normal;
  font-weight: 800;
  src: url('../font/BeVietnam-ExtraBold.woff') format('woff');
}

body {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: var(--black-50);
}

.heading {
  color: currentColor;
  font-weight: 700;

  &--xl {
    font-size: 5.6rem;
    line-height: 6.4rem;
    letter-spacing: -1px;

    @include mixin.respond(phone) {
      font-size: 4rem;
      line-height: 5rem;
    }
  }

  &--lg {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -.71px;
  }

  &--md {
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -.29px;
  }

  &--sm {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }
}

.paragraph {
  line-height: 2.6rem;
  color: var(--blue-400);

  @include mixin.respond(phone) {
    line-height: 2.8rem;
  }
}
