:root {
  --white-100: #fff;
  --white-150: #fafafa;
  --white-200: rgb(36, 45, 82, 50.25%);
  --white-300: #fcf6f5;
  --white-500: #8d8d8d;
  --orange-50: #fff0ec;
  --orange-100: #ff9f8e;
  --orange-300: #f3603c;
  --orange-500: #db5943;
  --black-50: #242d52;
  --black-500: #1d1e25;
}
