@use "../../../../../public/scss/_query-mixin.scss" as mixin;

.hero {
  padding: 0 16.5rem 13.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @include mixin.respond(desktop) {
    padding-inline: 4.125rem;
    gap: 6.4rem;
  }

  @include mixin.respond(phone) {
    padding: 0 2.6rem 9.3rem;
    gap: 1.9rem;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    max-width: 44.5rem;

    @include mixin.respond(phone) {
      align-items: center;
      text-align: center;
      order: 1;
    }

    .paragraph {
      margin: 3.4rem 0 4rem;
      max-width: 35rem;

      @include mixin.respond(phone) {
        font-weight: 300;
        margin: 0.9rem 0 2.9rem;
      }
    }
  }

  &__img {
    max-width: 100%;
  }
}
