@use "../../../../../public/scss/_query-mixin.scss" as mixin;

.testimonials {
  padding: 0 0 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixin.respond(tablet) {
    padding: 0 0 10rem;
  }

  @include mixin.respond(phone) {
    padding: 0 0 4.2rem;
  }

  .heading--lg {
    margin-bottom: 11.4rem;

    @include mixin.respond(tablet) {
      margin-bottom: 10.6rem;
    }

    @include mixin.respond(phone) {
      margin-bottom: 9.8rem;
      font-size: 3.2rem;
      line-height: 4.5rem;
      letter-spacing: -.66px;
      font-weight: 800;
    }
  }

  &__slider {
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    margin-bottom: 4.8rem;

    @include mixin.respond(phone) {
      margin-bottom: 2.6rem;
    }
  }

  &__list {
    padding-inline: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    // animation: scrolling 15s linear infinite;

    &:first-child {
      padding-right: 0;
    }

    &>* {
      padding-inline: 1.5rem;
    }

    @include mixin.respond(phone) {
      gap: 3.5rem;
      animation: unset;
      transition: all .4s;

      &:first-child {
        padding-right: 1.75rem;
      }

      &>* {
        padding-inline: 0;
      }

      &[aria-hidden="true"] {
        display: none;
      }
    }
  }

  &__controls {
    display: none;

    @include mixin.respond(phone) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      margin-bottom: 4.7rem;
    }
  }

  &__control {
    width: .7rem;
    height: .7rem;
    outline: 0 none;
    border: 1px solid var(--orange-300);
    border-radius: 50%;
    transition: all .4s;
    cursor: pointer;

    &:hover,
    &--active {
      background: var(--orange-300);
    }

    &:not(.testimonials__control--active) {
      &:focus {
        background: var(--orange-100);
      }
    }
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
