@use "../../../../../public/scss/_query-mixin.scss" as mixin;

.features {
  &__content {
    padding: 0 16.5rem 14.6rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include mixin.respond(desktop) {
      padding-inline: 4.125rem;
    }

    @include mixin.respond(phone) {
      padding: 0 0 6.2rem;
      flex-direction: column;
      gap: 5.4rem;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    max-width: 44.5rem;
    gap: 2.4rem;

    @include mixin.respond(phone) {
      padding: 0 2.2rem;
      align-items: center;
      text-align: center;
      gap: 1.3rem;

      .heading--lg {
        font-size: 3rem;
        line-height: 4.5rem;
      }

      .paragraph {
        font-size: 1.4rem;
        padding: 0 .5rem;
      }
    }

    .paragraph {
      max-width: 35rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include mixin.respond(phone) {
      gap: 4.7rem;
    }
  }
}
